.zaglavlje {
    width: 100%;
    height: 60px;
    box-shadow: 19px 20px 15px #777777;
}
.zaglavlje .naslov {
    width: 400px;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: 40px;
    background-color: #3F9AC9;
    color: #ffffff;
    float: left;
}
.zaglavlje .naslovnaTraka {
    width: calc(100% - 400px);
    height: 100%;
    background-color: #ffffff;
    float: left;
}