.menu{
    width: 400px;
    height: 100%;
    background-color: #E8E9EB;
    float: left;
}
.selectStart, .selectWebApps{
    width: 20px;
    height: 40px;
    float: left;
}
.menu .options {
    width: 100%;
    float: left;
    height: 40px;
    line-height: 42px;
    font-size: 20px;
    color: #295B72;
    padding: 20px 0;
}
.menu .options i{
    padding: 0 5px;
    font-size: 28px;
}
.menu .options #down {
    float: right;
    padding: 10px 20px 0 20px;
}
.menu .options #down:hover{
    cursor: pointer;
}
.menu #apps .dropmenu{
    width: 312px;
    height: 60px;
    list-style: none;
    font-size: 18px;
}
.menu #apps .dropmenu li{
   height: 25px;
   line-height: 30px;
}
a{
    color: #295B72;
    text-decoration: none;
 }